.prima-parte{
    background-color:rgb(36, 59, 71);
    color: white;

}

.boot{
    background-color: rgb(19, 174, 140);
    color: white;
}
.parte-fin{
    background-color: rgb(18, 30, 36);
    color: white;
}
