.prima-parte{
    background-color:rgb(36, 59, 71);

}
.boot{
    background-color: rgb(19, 174, 140);
    color: white;
}
.parte-fin{
    font-size: 10px;
    background-color: rgb(18, 30, 36);
    color: white;
}
.retta{
    width: 100px;
    border-bottom: 3px solid white;
    text-align: center;
}
.retta-dark{
    width: 100px;
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
}
.w-200{
    width: 200px;
}
.h-200{
    height: 200px;
}
.bl_card{
    border-radius: 2rem;
    border-radius: 10px;
    overflow: hidden;
}
.btn-verde{
    background-color: rgb(19, 174, 140);
    color: white;
}

.top-testo{
    font-size: 15px;
}
.descrizione{
    font-size: 10px;
}
.bordo{
    border: 1px solid white;
    border-radius: 0;
    border-bottom: 1px solid gray;
}
